$lightorange: #f5b10c;
$gold1: #f5f20c;
$darkgray: #131210;
$brightgreen: #8eef46;
$yellow: #f3f349;
$orange: #f2a423;
$black: #0a0a0a;

header {
  background-color: $lightorange;
}

h1 {
  font-family: 'Wendy One' sans-serif;
  font-size: 75px;
}

body {
  background: $darkgray;
  text-align: center;
}

.cell {
  background-color: $brightgreen;
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  border-top: 2px solid $black;
  color: $black;
  height: 100px;
  width: 100px;
}

.x {
  color: $orange;
  font-size: 30px;
  }

.wins {
  color: $brightgreen;
  font-size: 15px;
  text-align: left;
}


.game {
  border: 50px;
}

.resetgame {
  color: $brightgreen;
  font-size: 20px;
  text-align: center;
  width: 80px;
}

button {
  background: $lightorange;
  border-radius: 5px;
  cursor: pointer;
  height: 5vh;
  line-height: 5vh;
  margin: .5vh;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 65px;
}

row-2 {
  grid-area: row-2;
}

row-3 {
  grid-area: row-3;
}

footer {
  background-color: $lightorange;
  margin: auto;
  padding: 20px;
}

h2 {
  color: $black;
  font-family: 'Wendy One' sans-serif;
  font-size: 30px;
  }

p {
  color: $gold1;
  font-size: 30px;
}

h4 {
  color: $brightgreen;
}

.sign-up {
  color: $brightgreen;
  float: inherit;
  font-size: 20px;
}

h3 {
  color: $orange;
}

.simenu {
  color: $black;
  font-size: 20px;
  text-align: left;
}

.submit {
  background-color: $black;
  color: $brightgreen;
  font-size: 18px;
}

.gamefooter {
  cursor: pointer;
  line-height: 4;
  text-align: center;
}
